<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Virtual</title>

    <!-- biblioteca de ícones Fontawesome -->
    <link href="../../assets/fontawesome-free-6.7.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="../../assets/fontawesome-free-6.7.2-web/css/brands.css" rel="stylesheet" />
    <link href="../../assets/fontawesome-free-6.7.2-web/css/solid.css" rel="stylesheet" />
    
    <!-- CDN da biblioteca CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <!-- arquivo CSS de estilização geral dos elementos HTML -->
    <link rel="stylesheet" href="/assets/css/estilos.css">

    <!-- arquivo externo CSS de estilização dos elementos da tela de Checkout -->
    <link rel="stylesheet" href="/assets/css/checkout.css">

    <!-- biblioteca jQuery para manipulação do DOM -->
    <script src="../../assets/js/jquery-3.6.0.min.js"></script>

    <!-- biblioteca JavaScript para máscara de preenchimento de campos de formulário -->
    <script src="../../assets/js/jquery.maskedinput.js"></script>

    <!-- arquivo externo JavaScript que contém as funções em Ajax -->
    <script src="../../assets/js/scripts.js"></script>
  </head>